<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </noscript>


  <style>
    @font-face {
      font-family: 'Radiance';
      /*a name to be used later*/
      src: url('https://arbo-webfonts.s3.eu-central-1.amazonaws.com/radiance.woff');
      /*URL to font*/
    }

    @font-face {
      font-family: 'Reaver';
      /*a name to be used later*/
      src: url('https://arbo-webfonts.s3.eu-central-1.amazonaws.com/Reaver-SemiBold.woff');
      /*URL to font*/
    }

    html {
      background-color: #151618;
    }

    .pageTitle {
      color: #ed3b1c;
      font-family: "Reaver", "Noto Sans", sans-serif;
      text-transform: capitalize;
    }

    .patch {
      color: #fff;
      font-family: "Radiance", "Noto Sans", sans-serif;
    }

    a {
      text-decoration: none;
    }

    .abilityName {
      font-family: "Reaver", "Noto Sans", sans-serif;
    }

    .version {
      color: #ed3b1c;
      font-size: larger;
    }

    .date {
      color: #bbbbbbee;
      float: right;
      font-size: larger;
    }

    .changeNote {
      color: #bbbbbbee;
    }
  </style>

  <title>Dota 2 Hero Changelogs</title>
</head>

<body>
  <div class="container">
    <div class="patch">
      <h1 class="pageTitle">What changed for Pudge?</h1>
      <h5 class="general">Find changelogs for your favorite Dota 2 hero:</h5>
      {{#each heroNames}}
        <p><a href="/{{this}}"><span class="changeNote">whatchangedfor.com/</span><span class="version">{{this}}</span></a></p>
      {{/each}}
    </div>
  </div>
</body>

</html>