<!DOCTYPE html>
<html lang="en">

<head>
  {{> header_partial}}

  <title>Dota 2 Hero Changelogs</title>
</head>

<body>
  <div class="container">
    <div class="general">
      <h1 class="pageTitle">What changed for Pudge?</h1>
      <h5 class="general">Find changelogs for your favorite Dota 2 hero:</h5>
      
      {{> search_partial_html}}
    </div>
  </div>
</body>
{{> search_partial_script}}
</html>